
<div data-role="header">
	<%= link_to 'Home', contacts_path, "data-icon" => "home", "class" => "ui-btn-left" %>
	<%= link_to 'Delete', @contact, :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
<h1>Editing Contact</h1>
</div>

<div data-role="content">
<%= render 'form' %>
</div>


