<div data-role="header">
	<h1>Contacts</h1>
	<%= link_to 'Add', new_contact_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
	<ul data-role="listview">
		<% @contacts.each do |contact|  %>
			<li>
				<%= link_to contact.first_name, contact %>
				<%= link_to 'edit contact', edit_contact_path(contact), "data-icon" => "gear" %>
			</li>
		<% end %>
	</ul>
	
</div>



